<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>元智大學圖書館</title>
</head>

<body>

  <center>
    <h1>Log-in</h1><br>
  <form action="login" method="post"><br>
    帳號：<input type="text" name="user" placeholder="Username"><br>
    密碼：<input type="password" name="pass" placeholder="Password"><br>
  	<input type="hidden" value="{{.}}" name="token" />
	<input type="submit" name="login" class="login login-submit" value="傳送"><br>
  </form>
</center>

</body>

</html>